@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Styling */

body, body::before, body::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    background-color: rgb(65, 177, 221);
}

/* Title */

h1 {
    text-align: center;
    font-size: 4rem;
    width: 100%;
    color: #EEE;
    position: absolute;
}

/* Main Page Content */

.card {
    display: flex;
    position: relative;
    top: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: -10px 10px rgba(59, 114, 151, 0.5);
    margin: 0 15%;
    height: 60vh;
    background-color: #EEE;
}

.setup, .punchline {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

img {
    margin-bottom: 5rem;
    align-self: center;
}

.btn {
    position: relative;
    margin-top: 15%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(218, 69, 69);
    width: 30%;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 1.5rem;
    color: white;
    transition: 0.2s;
}

.btn:hover {
    background-color:  rgb(175, 58, 58);
}